.btn{
    background: #FF4D4D;
    border: 2px solid #FF4D4D;
    border-radius: 35.84px;
    color: white;
    transition: all 0.3s linear;
    &:hover{
    background: #ffffff;
    color: #FF4D4D;
    
    }
    &:disabled{
        background-color: gray;
    }
}

.blue{
    color: #1f06ff
}


.active{
    background-color: #ed0000;
}