.input{
    background-color: rgb(148, 222, 175);
}

.inputWrapper{
   .inputLabel{
    background-color: rgb(208, 248, 105);

   } 
   .inputError{
    background-color: rgb(255, 135, 105);
   }
}


.br-5{
    border-radius: 5px;
}