@import '/src/styles/variables.scss';


.section-feedback{
    position: relative;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 15%;
        top: 40%;
        left: 0;
        background-color: #00a5f1;
    }
   .swiper-line{
        width: 110vw;
        height: 150px;
        background-color: $primary-color;
        position: absolute;
         left: -10%;
         top: 45%;
   } 
    
    .swiper__body{
        background-color: #ffffff;
        margin-bottom: 40px;
        padding-bottom: 20px;
        
    }
    .swiper-container{
        width: 80%;
    }

    .swiper__slide{
        width: 33%;
        padding: 0 10px;

    }

    .swiper-slide-next{
        transform: scale(1.1)!important;
        transition: 0.1s;
        @media (max-width: 900px) {
      
            transform: none!important;
      
        }
    }

    &_btn{
        display: block;
            min-width: 15em;
        max-width: 20em;
        font-weight: 500;
        font-size: .875em;
        margin: 0 auto;
        padding: 0.90909em 1.27273em;
        border-color: #00a5f1;
        background: #00a5f1;
        color: #ebebeb;
        text-decoration: none;


        &:hover{
            color: #00a5f1;
            background: #ffffff;

        }
    }

}