.section-header{
    margin-bottom: 40px;
    text-align: center;
}
.flex{
    display: flex;

}
.show-stars{
    width: 100px;
}
.starImg{
    width: 12px;
    margin: 3px;
}


.swiper-slide-next{
    transform: scale(1.1)!important;
    transition: 0.1s;
}